* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}

section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1.5rem 2rem;
}

.header .flex .navbar {
    display: flex;
    justify-content: center;
}

.header .flex .navbar a {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    color: #333;
}

#menu-btn {
    display: none;
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
}

.presentation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.presentation .image {
    flex: 1 1 40rem;
}

.presentation .image img {
    width: 90%;
}

.presentation .content {
    flex: 1 1 40rem;
}

.presentation .content h3 {
    font-size: 4.5rem;
    color: #333;
    font-family: 'Merienda One', cursive;
    padding-bottom: 1rem;
}

.presentation .content p {
    padding: 1rem 0;
    line-height: 2;
    color: #333;
    font-size: 1.7rem;
    font-family: 'Merienda One', cursive;
}

.heading {
    text-align: center;
    margin-bottom: 3rem;
}

.heading img {
    height: 4rem;
    margin-bottom: 2rem;
}

.heading h3 {
    font-size: 4rem;
    color: #333;
    font-family: 'Merienda One', cursive;
}

.passion .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}

.passion .box-container .box {
    text-align: center;
}

.passion .box-container .box img {
    max-height: 348px;
    width: 100%;
    margin-bottom: .5rem;
}

.passion .box-container .box h3 {
    font-size: 2.5rem;
    color: #333;
    font-family: 'Merienda One', cursive;
    margin: 1rem 0;
}

.projet .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    justify-content: flex-start;
}

.projet .box-container .box {
    text-align: center;
}

.projet .box-container img {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
}

.projet .box-container .box h3 {
    font-size: 2.5rem;
    color: #333;
    font-family: 'Merienda One', cursive;
    margin: 1rem 0;
}

.projet .box-container .box p {
    line-height: 2;
    font-size: 1.5rem;
    color: #333;
    font-size: 3rem;
}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
        transition: .2s linear;
    }
    #menu-btn.fa-times {
        transform: rotate(180deg);
    }
    .header .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: #fff;
        border-top: .2rem solid #333;
        border-bottom: .2rem solid #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }
    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .flex .navbar a {
        display: block;
        margin: 2rem;
    }
}