* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    background-color: rgb(62, 62, 62);
    color: rgb(255, 255, 255);
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}

section > .header {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    text-align: center;
    margin-bottom: 3rem;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 .5rem 1rem rgb(204, 51, 45, .3);
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1.5rem 2rem;
}

.header .flex .navbar{
    display: flex;
    justify-content: center;
}

.header .flex .navbar a {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
}

#menu-btn {
    display: none;
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
}


.sep1::before {
	content: 'Présentation';
	position: absolute;
	background-color: #cc332d;
	width: 40%;
	height: 3px;
    font-family: cursive;
    font-size: 30px;
}

.sep2::before {
	content: 'Passions';
	position: absolute;
	background-color: #cc332d;
	width: 40%;
	height: 3px;
    font-family: cursive;
    font-size: 30px;
}

.sep3::before {
	content: 'Projet';
	position: absolute;
	background-color: #cc332d;
	width: 40%;
	height: 3px;
    font-family: cursive;
    font-size: 30px;
}


#un {
    width: 100%;
    height: 80vh;
    padding: 40px 18%;
    display: flex;
}
#deux {
    width: 100%;
    height: 80vh;
    padding: 40px 50px;
    display: flex;
}
#trois {
    width: 100%;
    height: 80vh;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
}

.img,
.textPrez,
.passion {
    margin: 20px;
}


#un .img > img {
    height: 100%;
    width: auto;
}

.titre {
    font-size: 30px;
    text-align: center;
}
.couleur {
    color: #cc332d;
}
.reseaux > a {
    color: #1d9bf0;
    text-decoration: underline;
}
.textPrez {
    width: 80%;
}

.passion {
    width: 100%;
    text-align: center;
}

.p1 {
    background-image: url(img/le.jpg);
    background-repeat: none;
    background-size: cover;
}
.p2 {
    background-image: url(img/sk.jpg);
    background-repeat: none;
    background-size: cover;
}
.p3 {
    background-image: url(img/ka.jpg);
    background-repeat: none;
    background-size: cover;
}
.p4 {
    background-image: url(img/av.jpg);
    background-repeat: none;
    background-size: cover;
}

.imageProjet {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.imageProjet img {
    height: 250px;
}



@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
        transition: .2s linear;
    }
    #menu-btn.fa-times {
        transform: rotate(180deg);
    }
    .header .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }
    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .flex .navbar a {
        display: block;
        margin: 2rem;
    }
}