* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}


html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}

section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1.5rem 2rem;
}

.header .flex .navbar{
    display: flex;
    justify-content: center;
}
.header .flex .navbar a {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    color: #333;
}

#menu-btn {
    display: none;
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
        transition: .2s linear;
    }
    #menu-btn.fa-times {
        transform: rotate(180deg);
    }
    .header .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }
    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .flex .navbar a {
        display: block;
        margin: 2rem;
    }
}